
.fs_style_31, stylename_blockquote__citation {visibility:visible;}

.fs_style_23, stylename_button__-__dark__blue {/* button style */}

.fs_style_26, stylename_button__-__grey {}

.fs_style_25, stylename_button__-__light__blue {}

.fs_style_19, stylename_enotify_section1 {font-size:30px;
color:#7F8588;
font-weight:normal;
font-family:  Times, Times New Roman, serif;
text-shadow:0 0 1px #FFFFFF;}

.fs_style_20, stylename_enotify_section2 {font-size:22px;
color:#7F8588;
font-weight:normal;
font-family:  Times, Times New Roman, serif;
text-shadow:0 0 1px #FFFFFF;}

.fs_style_21, stylename_enotify_section3 {font-size:17px;
color:#7F8588;
font-weight:normal;
font-family: Arial,sans-serif;
text-shadow:0 0 1px #FFFFFF;}

.fs_style_22, stylename_enotify_section4 {font-size:17px;
color:#0E2034;
font-weight:bold;
font-family: Arial,sans-serif;
text-shadow:0 0 1px #FFFFFF;}

.fs_style_30, stylename_Lead__In__Text {}

.fs_style_27, stylename_table__-__styled {}
